$small-radius: 0.25rem;
$mid-radius: 0.5rem;
$big-radius: 1rem;

$title: 2.5rem;
$subtitle: 2rem;
$small-title: 1.75rem;
$section-title: 1.5rem;
$text-main: 1rem;
$text-secondary: 0.875rem;
$label: 0.75rem;
